.form {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

form > label > p {
    font-weight: 700;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=submit] {
     background-color: #51a7fc;
     border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
     margin: 4px 2px;
     cursor: pointer;
     border-radius: 5px;
}

input[type=submit]:hover {
    background-color: #74baff;
}

input[type=submit]:focus {
    background-color: #c9e4ff;
}