.todo {
     display: flex;
     align-items: center;
     justify-content: center;

}

.todo > ul > li {
    margin: 5px;
    padding: 10px;
    width: 200px;
    border-radius: 9px;
    background-color: rgb(233, 231, 231);
    list-style: none;
    font-weight: 500;
}

.btn {
    display: flex;
    flex-direction: column;
    background-color: #51a7fc;
     border: none;
    color: white;
    padding: 4px 8px;
    text-decoration: none;
     margin: 4px 2px;
     cursor: pointer;
     border-radius: 5px;
}

.btn:hover {
    background-color: #74baff;
}

.btn:focus {
background-color: #c9e4ff;
}

